*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap {
    margin: 2rem;

    transform-style: preserve-3d;
    transform: perspective(100rem);

    cursor: pointer;
}

.card-container {

    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;

    width: 30rem;
    height: 36rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;

    display: flex;
    align-items: flex-end;

    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

    /*background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("resources/l");*/
    background-position: var(--bX) var(--bY);
    background-size: 40rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);

    transition: transform .6s 1s;
}

.card-container::before,
.card-container::after {
    content: "";

    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;

    position: absolute;
    z-index: 2;

    opacity: .3;
    transition: .3s;
}

.card-container::before {
    top: 2rem;
    right: 2rem;

    border-bottom-width: 0;
    border-left-width: 0;
}

.card-container::after {
    bottom: 2rem;
    left: 2rem;

    border-top-width: 0;
    border-right-width: 0;
}

.card-container--active {
    transition: none;
}

.card-container--2 {
    filter: hue-rotate(80deg) saturate(140%);
}

.card-container--3 {
    filter: hue-rotate(160deg) saturate(140%);
}

.card-container p {
    color: hsla(0, 0%, 100%, .6);
    font-size: 2.2rem;
}

.wrap:hover .card-container::before,
.wrap:hover .card-container::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}
