
.reflexcard {
    padding-top: 87px;
    height: 360px;
    width: 660px;
    border-radius: 15px;
    box-shadow: -8px 18px 51px -19px rgb(97, 27, 114);

}


@media only screen and (max-width: 700px) {
    .reflexcard {
        height: 180px;
        width: 300px;
        border-radius: 5px;
    }
}

/* ref https://blog.logrocket.com/the-noobs-guide-to-3d-transforms-with-css-7370aafd9edf/ */

.scene {
    perspective: 30em;
}
